<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <th:block th:include="~{fragments/head-user}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</header>

<main class="mt-5">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <hr class="bg-hero hr-2"/>
                <h1 class="text-center text-black ">Edit Picture</h1>
                <hr class="bg-hero hr-2"/>
            </div>
            <form th:method="post" th:action="@{/pictures/edit/{id}(id=${pictureId})}" enctype="multipart/form-data">
                <input type="hidden" name="_csrf"
                       value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
                <div class="form-group">
                    <input type="text" id="uploader" class="fadeIn second" name="uploader"
                           th:value="${picture.uploader}" readonly>
                </div>
                <div class="form-group">
                    <input type="text" id="description" class="fadeIn third" name="description"
                           th:value="${picture.description}">
                </div>
                <div class="form-group">
                    <input type="text" id="imageUrl" class="fadeIn third" name="imageUrl"
                           th:value="${picture.imageUrl}">
                </div>
                <hr class="bg-hero hr-2"/>
                <input type="submit" class="fadeIn fourth" value="Edit">
            </form>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>