html,body {
      height: 100%;
    }
    main {
      height: 100vh;
      background: url("https://scontent.fsof3-1.fna.fbcdn.net/v/t1.15752-9/78734937_2421384968079145_5648200302856241152_n.png?_nc_cat=111&_nc_ohc=GVM_prpp5iMAQnMfcdYtJD0g9PlAZOXIwwMN_r-aPRyqpMhsmm90pxwCg&_nc_ht=scontent.fsof3-1.fna&oh=be445354848e239fc122d3387eebe014&oe=5E74E25E") no-repeat;
      
  background-size: cover;
    }
    
    .main-container {
      height: 100%;
      background-color: white;
      padding-top: 1rem;
            padding-bottom: 1rem;
      overflow-y:scroll;
    }
    
    .author-image-wrapper {
      width: 4rem;
    }
    
    .author-image {
      border-radius: 2rem;
      border: 2px solid lightgray;
    }