html,body {
    height: 100%;
}
main {
    height: 100vh;
    background: url("https://media.istockphoto.com/vectors/multiethnic-group-of-people-vector-id910104344?k=6&m=910104344&s=612x612&w=0&h=uvqF9T5jfvN7otJgu0PJ7wwRyGCj7m9CvR7JlclpyKQ=") repeat;


    background-size: cover;
}

.main-container {
    height: 100%;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y:scroll;
}

.author-image-wrapper {
    width: 4rem;
}

.author-image {
    border-radius: 2rem;
    border: 2px solid lightgray;
}